%script
  endpoint_url= "#{request[:endpoint_url]}" 
%ul.nav.nav-tabs                                                                                                                                
  %li  
    %a{:href=>url_for(:test_summaries)+"?endpoint_url=#{request[:endpoint_url]}"} All test results
  %li.active
    %a{:href=>url_for(:organisation_quality)+ "?endpoint_url=#{request[:endpoint_url]}"} Organisation quality
#organisation_quality
  #chart